body
{
    height:100%;
}

html
{
    height:100%;
}

.spinny {
    animation-duration: 1s;
    animation-name: spin;
    animation-iteration-count: infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0turn);
      animation-timing-function: linear;
    }
  
    to {
      transform: rotate(1turn);
    }
  }

  .swag 
  {
    height:500px;
  }

.butt
{
    height:100%;
    align-content:center;
}